
<!DOCTYPE html>

<html>
<head>
    <title>Admin| @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Content/Images/logo.jpg")">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="page">
        <header>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Best BabySitter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Dashboard", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Verify Sitter", "Verify_Sitter", "Admin")</li>
                        <li>@Html.ActionLink("Suspend User", "Suspend_User", "Admin")</li>
                        <li>@Html.ActionLink("Settings", "Update_Info", "Admin")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="parent-main-container">
            <section id="container">
                @RenderBody()
            </section>
        </div>
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>
    <footer class="site-footer" style="position:relative">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">BestBabySitter is a company that aims to provide services by creating a bridging between parents and people that are need of services such as taking care of children</p>
                </div>



                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="/Admin/Index/">Dashboard</a></li>
                        <li><a href="/Admin/Verify_Sitter/">Advert</a></li>
                        <li><a href="/Admin/Suspend_User/">Slots</a></li>
                        <li><a href="/Admin/Update_Info/">Settings</a></li>
                        <li><a href="/Admin/Logout/">Logout</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; @DateTime.Now.Year - Best-BabySitter All Rights Reserved by
                        <a href="#">Runtime Terror</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble-square"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Script")
    @RenderSection("scripts", required: false)
</body>
</html>
